In [1]:
import pandas as pd

In [5]:
from pandas import Series as s

In [9]:
help(pd)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [13]:
l=[1,2,3,4]

In [15]:
a=s(l)
a

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
a.values

array([1, 2, 3, 4], dtype=int64)

In [19]:
a.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
q=s(l,index=list('abcd'))
q

a    1
b    2
c    3
d    4
dtype: int64

In [27]:
q[0]

C:\Users\kjnav\AppData\Local\Temp\ipykernel_28544\3941000428.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  q[0]

1

In [33]:
q['d']

4

In [35]:
q[1:3]

b    2
c    3
dtype: int64

In [37]:
d=dict(apple=10,orange=30,mango=25,grapes=50)
d

{'apple': 10, 'orange': 30, 'mango': 25, 'grapes': 50}

In [39]:
sf1=s(d)

In [41]:
sf1

apple     10
orange    30
mango     25
grapes    50
dtype: int64

In [43]:
sf1.apple

10

In [45]:
sf2=s(d,index='apple banana mango orange'.split())

In [47]:
sf2

apple     10.0
banana     NaN
mango     25.0
orange    30.0
dtype: float64

In [49]:
q

a    1
b    2
c    3
d    4
dtype: int64

In [51]:
import numpy as np
q=np.arange(1,13).reshape(3,4)
q

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [53]:
a=pd.DataFrame(q)
a

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [117]:
d= dict(c1=dict(r1=10,r2=20,r3=15),c2=dict(r1=11,r2=21,r3=15),c3=dict(r1=100,r2=200,r3=15),c4=dict(r1=12,r2=21,r3=15))

In [119]:
d=pd.DataFrame(d)
d

    c1  c2   c3  c4
r1  10  11  100  12
r2  20  21  200  21
r3  15  15   15  15

In [103]:
d['c1']

r1    10
r2    20
r3    15
Name: c1, dtype: int64

In [111]:
x=d.iloc[:3,:3]
y=d.iloc[:,3]
print(x)
print(y)

    c1  c2   c3
r1  10  11  100
r2  20  21  200
r3  15  15   15
r1    12
r2    21
r3    15
Name: c4, dtype: int64

In [123]:
x=d.loc[:,'c1':'c3']
y=d.loc[:,'c4']
print(x)
print(y)

    c1  c2   c3
r1  10  11  100
r2  20  21  200
r3  15  15   15
r1    12
r2    21
r3    15
Name: c4, dtype: int64

In [131]:
x=d['r2':'r2']['c1':'c2']
x

Empty DataFrame
Columns: [c1, c2, c3, c4]
Index: []